<h2 id="user-menu">
    <span class="fa fa-user" style="margin-right:5px;"></span>
    {{ if .logged_in }}

    <div class="dropdown" style="display:inline;">
      <button class="btn btn-default dropdown-toggle"
              type="button"
              id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
              style="border-style:none;">
        {{.current_user.Username}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li id="logout-link"><a href="#">Logout</a></li>
      </ul>
    </div>





    <!-- <a href="/myself"> {{.current_user.Username}} </a> -->
    {{ else }}
    <a href="/login" class="text-right">Login</a>
    {{ end }}
</h2>
