<!DOCTYPE html>
  <head>
  	<title>DuePerUno: viaggia in compagnia, spendi meno!</title>
    <meta name="description" content="">
	<meta name="keywords" content="" />
<!--

Solidity Template

http://www.templatemo.com/tm-407-solidity

-->
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/animate.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/templatemo_misc.css">
	<link rel="stylesheet" href="/static/css/templatemo_style.css">
  <link rel="stylesheet" href="/static/css/custom.css">


    <!-- JavaScripts -->
	<script src="/static/js/jquery-1.10.2.min.js"></script>
	<!-- <script src="/static/js/jquery.singlePageNav.js"></script> -->
	<script src="/static/js/jquery.flexslider.js"></script>
  <script src="/static/js/custom.js"></script>
  <script src="/static/js/jquery-1.10.2.min.js"></script>
	<script src="/static/js/jquery.lightbox.js"></script>
	<script src="/static/js/templatemo_custom.js"></script>
  <script src="/static/js/jquery-git2.js"></script><!-- previous next script -->


  </head>
  <body>
  <!-- title start -->
  	<div class="container">
    	<div class="row">
        	<div class="col-md-9 col-sm-9">
            	<div class="templatemo_title"><a href="/">DuePerUno</a></div>
                <div class="templatemo_subtitle">Spendi meno, viaggia in compagnia!</div>
            </div>
            <!--
            <div class="col-md-4 col-sm-4">
            	<form id="search_form">
            		<div class="templatemo_search">
                    	<input name="search" type="text" placeholder="Search here .... " id="search">
                    </div>
                </form>
            </div>
          -->


            <div class="col-md-3 col-sm-3">
              <div class="templatemo_title">
                  {{ template "_userMenu.html" . }}
              </div>
            </div>

        </div>
    </div>
  <!-- title end -->
  	<div class="site-header">
		<div class="main-navigation">
			<div class="container">
            	<div class="row">
            	<div class="col-md-12">
                	<!-- This one in here is responsive menu for tablet and mobiles -->
                  <div class="responsive-navigation visible-sm visible-xs">
                   <a href="#" class="menu-toggle-btn">
                    <i class="fa fa-bars fa-2x"></i>
                  </a>
       			 <div class="navigation responsive_menu">
          			 <ul>
					<li><a class="show-1 templatemo_home" href="#">Home</a></li>
					<li><a class="show-2 templatemo_page2" href="#">Cerca annuncio</a></li>
					<li><a class="show-3 templatemo_page3" href="#">Pubblica annuncio</a></li>
					<li><a class="show-5 templatemo_page5" href="#">Feedback</a></li>
				</ul>
    	    </div> <!-- /.responsive_menu -->
   		 </div> <!-- /responsive_navigation -->
                </div>
            </div>
            </div>
			<div class="container">
				<div class="row">
                     <div class="col-md-12 navigation">
						<div class="row main_menu">
                    		<!-- <div class="col-md-2"><a id="prev">Prev</a></div> -->

              <div class="col-md-3"><a class="show-1 templatemo_home" href="/" title="Home"><div class="fa fa-home"></div></a></div>
							<div class="col-md-3"><a class="show-2 templatemo_page2" href="/search" title="Cerca annuncio"><div class="fa fa-search"></div></a></div>
							<div class="col-md-3"><a class="show-3 templatemo_page3" href="/add" title="Pubblica annuncio"><div class="fa fa-plus-circle"></div></a></div>
							<div class="col-md-3"><a class="show-5 templatemo_page5" href="/feedback" title="Feedback"><div class="fa fa-comment"></div></a></div>
                        <!-- <div class="col-md-2"><a id="next">Next</a></div> -->

						</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
    <div id="menu-container">

	<div class="divs">
<!-- homepage start -->
	<div class="content homepage" id="menu-1">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
            	<div class="main-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="slider-caption">
								<h2>Viaggia comodo</h2>
								<p>Lo sapevi che i treni FrecciaBianca e FrecciaRossa sono forniti di bar, e ad ogni passeggero vengono messi a disposizione una presa elettrica e tavolino ?</p>
							</div>
							<img src="/static/images/slide1.jpg" alt="Slide 1">
						</li>

						<li>
							<div class="slider-caption">
								<h2>Spendi meno</h2>
								<p>Sapevi che è possibile sfruttare l'offerta "due per uno" e comprare due biglietti al posto di uno?</p>
							</div>
							<img src="/static/images/slide2.jpg" alt="Slide 2">
						</li>

                        <li>
							<div class="slider-caption">
								<h2>Conosci gente nuova.</h2>
								<p>O anche no! Non è strettamente necessario acquistare i due posti vicini.</p>
							</div>
							<img src="/static/images/slide3.jpg" alt="Slide 3">
						</li>

                        <li>
							<div class="slider-caption">
								<h2>Qualcosa</h2>
								<p>Fusce convallis enim vitae sagittis mollis. Sed bibendum ultricies dignissim.</p>
							</div>
							<img src="/static/images/slide4.jpg" alt="Slide 4">
						</li>

					</ul>
				</div>
			</div>
            </div>
        </div>


        <h1>Cos'&egrave;?</h1>
        <p>
          Trenitalia ha una fantastica offerta, il <b>due per uno</b>, che ti
          consente (sotto opportune condizioni) di acquistare due biglietti
          <b>pagandone solamente uno</b>!
        </p>
        <p>
          Questo è un ottimo modo per viaggiare in compagnia, ma cosa fare se per
          qualche motivo non si ha un amico/a che deve viaggiare proprio nello
          stesso periodo di cui abbiamo bisogno?
        </p>
        <p> Questo sito web nasce per risolvere questo problema: ti consente di
          metterti in contatto con altre persone che hanno necessità di fare il
          tuo stesso tragitto per comprare due biglietti pagandone uno solo.
        </p>


        <div class="row">
        	<div class="col-md-3 col-sm-12 templatemo_servicegap">
            	<div class="templatemo_icon">
                	<span class="fa fa-search"></span>
                </div>
            	<div class="templatemo_greentitle">Cerca annunci</div>
                <div class="clear"></div>
                <p>
                  Il primo passo è cercare un annuncio tra quelli presenti.
                  Inserisci il tragitto che ti interessa (luogo di partenza e
                  di arrivo) e il periodo di tuo interesse e vedi se c'è qualcuno
                  che sta cercando un compagno di viaggio!
                </p>
            </div>
            <div class="col-md-3 col-sm-12 templatemo_servicegap">
           		 <div class="templatemo_icon">
                	<span class="fa fa-bug"></span>
                </div>
            	<div class="templatemo_greentitle">Crea annuncio</div>
                <div class="clear"></div>
                <p>
                  Non hai trovato un annuncio che facesse al caso tuo? Non disperare,
                  non tutto è perduto!
                  <br />
                  Crea il tuo annuncio e cerca qualcuno interessato a comprare il
                  biglietto insieme a te!
                </p>
            </div>
            <div class="col-md-3 col-sm-12 templatemo_servicegap">
            	<div class="templatemo_icon">
                	<span class="fa fa-pencil-square-o"></span>
                </div>
            	<div class="templatemo_greentitle">Contatti!</div>
                <div class="clear"></div>
                <p>
                  A questo punto, mettiti in contatto con l'altro viaggiatore ed
                  acquistate il biglietto.
                  <br />
                  <b>Ricorda</b> che non è strettamente necessario comprare due
                  posti vicini, e di acquistare i biglietti a tuo nome!
                </p>
            </div>
            <div class="col-md-3 col-sm-12 templatemo_servicegap">
            	<div class="templatemo_icon">
                	<span class="fa fa-shield"></span>
                </div>
            	<div class="templatemo_greentitle">Feedback!</div>
                <div class="clear"></div>
                <p>
                  Una volta acquistati i biglietti, &egrave; ora di lasciare i
                  feedback!
                  <br>
                  Il feedback è un giudizio che aiuta chi verr&agrave; dopo di te
                  a scegliere un compagno di viaggio
                </p>
            </div>
        </div>


    </div>


    </div>
<!-- homepage end -->

<!-- service start -->
	<div class="content service" id="menu-2">
    <div class="container">
        <div class="row">
        	<div class="col-md-12">
        		<h1>Cerca annuncio</h1>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-3 col-sm-12 templatemo_servicegap">
            	<div class="templatemo_icon">
                	<span class="fa fa-flask"></span>
                </div>
            	<div class="templatemo_greentitle">Mobile Ready</div>
                <div class="clear"></div>
                <p>Solidity is free responsive template for everyone. Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim.</p>
            </div>
            <div class="col-md-3 col-sm-12 templatemo_servicegap">
           		 <div class="templatemo_icon">
                	<span class="fa fa-bug"></span>
                </div>
            	<div class="templatemo_greentitle">Web Design</div>
                <div class="clear"></div>
                <p>Credit goes to <a rel="nofollow" href="http://unsplash.com" target="_parent">Unsplash</a> for images used in homepage slider and portfolio section. Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus.</p>
            </div>
            <div class="col-md-3 col-sm-12 templatemo_servicegap">
            	<div class="templatemo_icon">
                	<span class="fa fa-pencil-square-o"></span>
                </div>
            	<div class="templatemo_greentitle">HTML5 CSS3</div>
                <div class="clear"></div>
                <p>Nam auctor elementum dolor. Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus.</p>
            </div>
            <div class="col-md-3 col-sm-12 templatemo_servicegap">
            	<div class="templatemo_icon">
                	<span class="fa fa-shield"></span>
                </div>
            	<div class="templatemo_greentitle">High Quality</div>
                <div class="clear"></div>
                <p>Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus. Ut consequat nisi vel justo.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="container">
    	<div class="row">
        	<div class="col-md-12">
            	<h1>Meet our team</h1>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
        	<div class="col-md-4 col-sm-12 templatemo_servicegap">
            <img src="/static/images/member1.jpg" alt="Tracy - Designer">
            	<div class="templatemo_email">
                	<a href="#"><div class="fa fa-envelope"></div></a>
                </div>
                <div class="clear"></div>
                <div class="templatemo_teamtext">
                    <div class="templatemo_teamname">
                        <div class="templatemo_teamtitle">Candy</div>
                        <div class="templatemo_teampost">Designer</div>
                    </div>
                    <div class="templatemo_teamsocial">
                        Find me on:
                        <div>
                            <a href="#"><div class="fa fa-facebook"></div></a>
                            <a href="#"><div class="fa fa-twitter"></div></a>
                            <a href="#"><div class="fa fa-linkedin"></div></a>
                            <a href="#"><div class="fa fa-rss"></div></a>
                        </div>
                    </div>
               </div>
            </div>
            <div class="col-md-4 col-sm-12 templatemo_servicegap">
            	<img src="/static/images/member2.jpg" alt="service 02">
                <div class="templatemo_email">
                	<a href="#"><div class="fa fa-envelope"></div></a>
                </div>
                <div class="clear"></div>
                <div class="templatemo_teamtext">
                    <div class="templatemo_teamname">
                        <div class="templatemo_teamtitle">Marvel</div>
                        <div class="templatemo_teampost">Developer</div>
                    </div>
                    <div class="templatemo_teamsocial">
                        Find me on:
                        <div>
                            <a href="#"><div class="fa fa-facebook"></div></a>
                            <a href="#"><div class="fa fa-twitter"></div></a>
                            <a href="#"><div class="fa fa-linkedin"></div></a>
                            <a href="#"><div class="fa fa-rss"></div></a>
                        </div>
                    </div>
               </div>
             </div>
            <div class="col-md-4 col-sm-12 templatemo_servicegap">
            	<img src="/static/images/member3.jpg" alt="service 03">
                <div class="templatemo_email">
                	<a href="#"><div class="fa fa-envelope"></div></a>
                </div>
                <div class="clear"></div>
                <div class="templatemo_teamtext">
                    <div class="templatemo_teamname">
                        <div class="templatemo_teamtitle">Julia</div>
                        <div class="templatemo_teampost">Director</div>
                    </div>
                    <div class="templatemo_teamsocial">
                        Find me on:
                        <div>
                            <a href="#"><div class="fa fa-facebook"></div></a>
                            <a href="#"><div class="fa fa-twitter"></div></a>
                            <a href="#"><div class="fa fa-linkedin"></div></a>
                            <a href="#"><div class="fa fa-rss"></div></a>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
    </div>
<!-- service end -->

<!-- portfolio start -->
<div class="content portfolio" id="menu-3">
  <div class="container">
  		<div class="row">
        	<div class="col-md-12">
            	<h1>Our portfolio</h1>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row templatemo_portfolio">
        	<div class="col-md-4 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image01.jpg" alt="gallery 1">
							<div class="overlay">
								<a href="/static/images/portfolio/image01.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
          </div>
            <div class="col-md-4 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image02.jpg" alt="gallery 2">
							<div class="overlay">
								<a href="/static/images/portfolio/image02.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
            <div class="col-md-4 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image03.jpg" alt="gallery 3">
							<div class="overlay">
								<a href="/static/images/portfolio/image03.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
        </div>
        <div class="row templatemo_portfolio">
        	<div class="col-md-3 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image04.jpg" alt="gallery 4">
							<div class="overlay">
								<a href="/static/images/portfolio/image04.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
            <div class="col-md-3 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image05.jpg" alt="gallery 5">
							<div class="overlay">
								<a href="/static/images/portfolio/image05.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
            <div class="col-md-3 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image06.jpg" alt="gallery 6">
							<div class="overlay">
								<a href="/static/images/portfolio/image06.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
            <div class="col-md-3 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image07.jpg" alt="gallery 7">
							<div class="overlay">
								<a href="/static/images/portfolio/image07.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
        </div>
        <div class="row templatemo_portfolio">
        	<div class="col-md-2 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image08.jpg" alt="gallery 8">
							<div class="overlay">
								<a href="/static/images/portfolio/image08.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
            <div class="col-md-2 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image09.jpg" alt="gallery 9">
							<div class="overlay">
								<a href="/static/images/portfolio/image09.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
            <div class="col-md-4 col-sm-12 templatemo_imagecontrol">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image10.jpg" alt="gallery 10">
							<div class="overlay">
								<a href="/static/images/portfolio/image10.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
            <div class="col-md-2 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image11.jpg" alt="gallery 11">
							<div class="overlay">
								<a href="/static/images/portfolio/image11.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
            <div class="col-md-2 col-sm-12">
            	<div class="gallery-item">
							<img src="/static/images/portfolio/image12.jpg" alt="gallery 12">
							<div class="overlay">
								<a href="/static/images/portfolio/image12.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
							</div>
						</div>
            </div>
        </div>
  </div>
  </div>
<!-- portfolio end -->

<!-- contact start -->
<div class="content contact" id="menu-5">
  <div class="container">
  	<div class="row">
    	<div class="col-md-12">
        	<h1>Contact us</h1>
        </div>
    </div>
      <div class="clear"></div>
    <div  class="row">
    	<div class="col-md-12">
        	<div class="templatemo_contactmap">
		    	<div id="templatemo_map"></div>
        	</div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="row">
    	<div class="col-md-8 col-sm-12">
        	<form action="#" id="contact_form">
        	<div class="templatemo_textbox"><input name="fullname" type="text" class="form-control" id="fullname" placeholder="Your Name"></div>
            <div class="templatemo_textbox"><input name="email" type="text" class="form-control" id="email" placeholder="Your Email"></div>
            <div class="clear"></div>
             <div class="templatemo_textareabox"><textarea name="message" class="form-control" id="message"  placeholder="Your message ... "></textarea>
             <div class="clear"></div>
             <button type="button" class="btn btn-primary">Send Message</button>
             </div>
          </form>
             <div class="clear"></div>
        </div>
        <div class="col-md-4 col-sm-12 templatemo_address">
        	<ul>
            	<li class="fa fa-phone"></li>
                <li class="text">010-020-0340</li>
                <li class="fa fa-map-marker"></li>
                <li class="text">480 Mogote Street, Digital Estate</li>
                <li class="fa fa-envelope"></li>
                <li class="text">info@company.com</li>
                <li class="fa fa-globe"></li>
                <li class="text"><a href="#">www.company.com</a></li>
            </ul>
        </div>
    </div>
  </div>
  </div>
<!-- contact end -->
	</div>
</div>
	<!-- footer start -->
    <div class="clear"></div>
		<div class="templatemo_footer">
            <div class="container">
            	<div class="row">
                	<div class="col-md-12">
                    	Copyright © 2016 Emanuele Santoro
                    </div>
                </div>
            </div>
        </div>
    <!-- footer end -->
  <!-- templatemo 407 solidity -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>
  </body>
</html>
