<!DOCTYPE html>
  <head>
  	<title>DuePerUno: viaggia in compagnia, spendi meno!</title>
    <meta name="description" content="">
	<meta name="keywords" content="" />
<!--

Solidity Template

http://www.templatemo.com/tm-407-solidity

-->
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/animate.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/templatemo_misc.css">
	<link rel="stylesheet" href="/static/css/templatemo_style.css">
  <link rel="stylesheet" href="/static/css/custom.css">


    <!-- JavaScripts -->
	<script src="/static/js/jquery-1.10.2.min.js"></script>
	<!-- <script src="/static/js/jquery.singlePageNav.js"></script> -->
	<script src="/static/js/jquery.flexslider.js"></script>


  <script src="/static/js/jquery-1.10.2.min.js"></script>
	<script src="/static/js/jquery.lightbox.js"></script>
	<script src="/static/js/templatemo_custom.js"></script>
  <script src="/static/js/jquery-git2.js"></script><!-- previous next script -->


  </head>
  <body>
  <!-- title start -->
  	<div class="container">
    	<div class="row">
        	<div class="col-md-9 col-sm-9">
            	<div class="templatemo_title"><a href="/">DuePerUno</a></div>
                <div class="templatemo_subtitle">Spendi meno, viaggia in compagnia!</div>
            </div>
            <!--
            <div class="col-md-4 col-sm-4">
            	<form id="search_form">
            		<div class="templatemo_search">
                    	<input name="search" type="text" placeholder="Search here .... " id="search">
                    </div>
                </form>
            </div>
          -->


            <div class="col-md-3 col-sm-3">
              <div class="templatemo_title">
                  {{ template "_userMenu.html" . }}
              </div>
            </div>

        </div>
    </div>
  <!-- title end -->
  	<div class="site-header">
		<div class="main-navigation">
			<div class="container">
            	<div class="row">
            	<div class="col-md-12">
                	<!-- This one in here is responsive menu for tablet and mobiles -->
                  <div class="responsive-navigation visible-sm visible-xs">
                   <a href="#" class="menu-toggle-btn">
                    <i class="fa fa-bars fa-2x"></i>
                  </a>
       			 <div class="navigation responsive_menu">
          			 <ul>
					<li><a class="show-1 templatemo_home" href="#">Home</a></li>
					<li><a class="show-2 templatemo_page2" href="#">Cerca annuncio</a></li>
					<li><a class="show-3 templatemo_page3" href="#">Pubblica annuncio</a></li>
					<li><a class="show-5 templatemo_page5" href="#">Feedback</a></li>
				</ul>
    	    </div> <!-- /.responsive_menu -->
   		 </div> <!-- /responsive_navigation -->
                </div>
            </div>
            </div>
			<div class="container">
				<div class="row">
                     <div class="col-md-12 navigation">
						<div class="row main_menu">
                    		<!-- <div class="col-md-2"><a id="prev">Prev</a></div> -->

              <div class="col-md-3"><a class="show-1 templatemo_home" href="/" title="Home"><div class="fa fa-home"></div></a></div>
							<div class="col-md-3"><a class="show-2 templatemo_page2" href="/search" title="Cerca annuncio"><div class="fa fa-search"></div></a></div>
							<div class="col-md-3"><a class="show-3 templatemo_page3" href="/add" title="Pubblica annuncio"><div class="fa fa-plus-circle"></div></a></div>
							<div class="col-md-3"><a class="show-5 templatemo_page5" href="/feedback" title="Feedback"><div class="fa fa-comment"></div></a></div>
                        <!-- <div class="col-md-2"><a id="next">Next</a></div> -->

						</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
    <div id="menu-container">

	<div class="divs">
<!-- homepage start -->
	<div class="content homepage" id="menu-1">
	<div class="container">
    <h3>Dueperuno::Debug</h3>
    <div class="well" style="min-height:600px;">
        {{ if .logged_in }}
          <p>Hello, {{.current_user.Username}}, you are <span style="color:green;">AUTENTICATED</span></p>
        {{ else }}
          <p>You are <span style="color:red;">NOT AUTHENTICATED</span></p>
        {{ end }}
          <p>Username: {{.current_user.Username}}</p>
    </div>
    </div>
    </div>
<!-- homepage end -->

	</div>
</div>
	<!-- footer start -->
    <div class="clear"></div>
		<div class="templatemo_footer">
            <div class="container">
            	<div class="row">
                	<div class="col-md-12">
                    	Copyright © 2016 Emanuele Santoro
                    </div>
                </div>
            </div>
        </div>
    <!-- footer end -->
  <!-- templatemo 407 solidity -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script>
 <script src="/static/js/custom.js"></script>
  </body>
</html>
