div#login-form input.btn-primary {
  background-color: #3cb04b;
  border-bottom: 4px solid #1c8b2a;
}



h2#user-menu {
  margin:15px 0px 0px 0px;
  float:right;
}
h2#user-menu * {
  color: #888888;
}

h2#user-menu > span.fa {
  color: unset;
}

@media (max-width: 400px) {
  h2#user-menu {
    width:100%;
    float:left;
  }

  div.templatemo_title {
    margin-top: 15px;
    margin-bottom: 15px;
  }

}

#user-menu > div > ul { left:-80px; }
